<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="adapter-ldaps-endpoint" value="0.0.0.0:635"/>
        <add key="ldap-server" value="ldap://domain.local"/>
        <add key="multifactor-nas-identifier" value="rs_7caee2a"/>
        <add key="multifactor-shared-secret" value="1e1f1d"/>
        <add key="logging-level" value="Debug"/>
        <add key="ldap-bind-timeout" value="00:00:00"/>
        <add key="multifactor-api-url" value="http://api.local"/>
    </appSettings>
</configuration>
