<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="UserNameTransformRules" type="MultiFactor.Ldap.Adapter.Configuration.UserNameTransformRulesSection, multifactor-ldap-adapter" />
	</configSections>

	<appSettings>
		<!--This service LDAP endpoint (0.0.0.0 - listen all interfaces) -->
		<add key="adapter-ldap-endpoint" value="0.0.0.0:388"/>
		<!--This service LDAPS (TLS) endpoint (0.0.0.0 - listen all interfaces) -->
		<add key="adapter-ldaps-endpoint" value="0.0.0.0:635"/>

		<!--Active Directory IP or domain -->
		<add key="ldap-server" value="ldap://dc1.multifactor.dev"/>

		<!-- Base DN for user binding. Example: cn=users,cn=accounts,dc=domain,dc=local -->
		<!--add key="ldap-base-dn" value="CN=Users,DC=multifactor,DC=local"/-->

		<!--List of service accounts (Bind DN) delmitted by semicolon (option 1)-->
		<!--add key="ldap-service-accounts" value=""/-->

		<!--Service accounts (Bind DN) organization unit (OU) (option 2)-->
		<add key="ldap-service-accounts-ou" value="OU=Service Accounts"/>

		<!--ActiveDirectory access group (optional);-->
		<!--add key="active-directory-group" value="MyApp Users"/-->

		<!--ActiveDirectory 2FA group (optional);-->
		<!--add key="active-directory-2fa-group" value="MyApp 2FA Users"/-->

		<!--Multifactor API -->
		<add key="multifactor-api-url" value="https://api.multifactor.dev"/>
		<!-- get it from multifactor management panel -->
		<add key="multifactor-nas-identifier" value="rs_7caee2a"/>
		<!-- get it from multifactor management panel -->
		<add key="multifactor-shared-secret" value="1e1f1d"/>

		<!--HTTP proxy for API (optional)-->
		<!--add key="multifactor-api-proxy" value="http://proxy:3128"/-->

		<!-- minimal log level: 'Debug', 'Info', 'Warn', 'Error' -->
		<add key="logging-level" value="Debug"/>
		<!--<add key="logging-format" value="json"/>-->
	</appSettings>

	<UserNameTransformRules>
		<add match="d.jones" replace="j.doves" />
	</UserNameTransformRules>
</configuration>
