<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="UserNameTransformRules" type="MultiFactor.Ldap.Adapter.Configuration.UserNameTransformRulesSection, multifactor-ldap-adapter" />
	</configSections>
	<appSettings>
		<add key="adapter-ldap-endpoint" value="0.0.0.0:388"/>
		<add key="adapter-ldaps-endpoint" value="0.0.0.0:635"/>
		<add key="ldap-server" value="ldap://domain.local"/>
		<add key="ldap-service-accounts-ou" value="OU=Service Accounts"/>
		<add key="multifactor-api-url" value="http://api.local"/>
		<add key="multifactor-nas-identifier" value="rs_7caee2a"/>
		<add key="multifactor-shared-secret" value="1e1f1d"/>
		<add key="logging-level" value="Debug"/>
	</appSettings>
	<UserNameTransformRules>
		<add match="d.jones" replace="j.doves" />
	</UserNameTransformRules>
</configuration>
