<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UserNameTransformRules" type="MultiFactor.Ldap.Adapter.Configuration.UserNameTransformRulesSection, multifactor-ldap-adapter" />
  </configSections>
  <appSettings>
	  <add key="ldap-client-ip" value="1ddda123!"/>
	  <add key="multifactor-nas-identifier" value="rs_7caee2a"/>
	  <add key="multifactor-shared-secret" value="1e1f1d"/>
  </appSettings>
    <UserNameTransformRules>
		<BeforeFirstFactor>
			<add match="d.jones" replace="j.doves" />
		</BeforeFirstFactor>
		<BeforeSecondFactor>
			<add match="d.jones" replace="j.doves" />
		</BeforeSecondFactor>
    </UserNameTransformRules>
</configuration>
