<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="UserNameTransformRules" type="MultiFactor.Ldap.Adapter.Configuration.UserNameTransformRulesSection, multifactor-ldap-adapter" />
  </configSections>
  
  <appSettings>
	  <add key="ldap-client-ip" value="1ddda123!"/>
	  <add key="ldap-server" value="ldap://dc1.multifactor.dev"/>
	  <!-- get it from multifactor management panel -->
	  <add key="multifactor-nas-identifier" value="rs_7caee2ad523ce6c2a52293d08a54b"/>
	  <!-- get it from multifactor management panel -->
	  <add key="multifactor-shared-secret" value="1e1f1d2becb8a35cd988a7aca76508d5"/>
  </appSettings>
 
    <UserNameTransformRules>
		<BeforeFirstFactor>
			<add match="d.jones" replace="o.brezhnev" />
		</BeforeFirstFactor>
		<BeforeSecondFactor>
			<add match="d.jones" replace="o.brezhnev" />
		</BeforeSecondFactor>
    </UserNameTransformRules>
</configuration>
