<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UserNameTransformRules" type="MultiFactor.Ldap.Adapter.Configuration.UserNameTransformRulesSection, multifactor-ldap-adapter" />
  </configSections>
  <appSettings>
	  <add key="ldap-client-ip" value="127.0.0.2"/>
	  <add key="ldap-server" value="ldap://domain.local"/>
	  <add key="multifactor-nas-identifier" value="ddd"/>
	  <add key="multifactor-shared-secret" value="test"/>
	  <add key="logging-level" value="Warn"/>
	  <add key="logging-format" value="json"/>
  </appSettings>
    <UserNameTransformRules>
		<BeforeFirstFactor>
			<add match="d.jones" replace="j.doves" />
		</BeforeFirstFactor>
		<BeforeSecondFactor>
			<add match="d.jones" replace="j.doves" />
		</BeforeSecondFactor>
    </UserNameTransformRules>
</configuration>
